%section#howDoesItWork
  .row
    .large-12.columns.large-centered
      %h2 How does 360 Showings Work?
%section#publishFeatures
  .row
    .large-12.columns
      %h1
        %center The Future of Real Estate Showings: 360 Showings
  .row
    .large-12.columns.large-centered
      %h3 Interactive video is waiting at the other end of a 360 Showings hyperlink.
      %p.callout Close more sales by converting leads <br/> into visitors to your website
  .row.icons
    .large-4.columns
      .publish1-circle
      %p Incorporate 360 Showings into your current staging strategy
    .large-4.columns
      .publish2-circle
      %p Differentiate yourself from other Realtors with interactive video tours
    .large-4.columns
      .publish3-circle
      %p Offer your seller something truly different
      %p Let buyers customize their viewing experience
