%header#homepage
  .row.cta
    .large-12.columns
      .lynx-head
        %h1 360 Showings!
      %br
      %blockquote.ricoh-theta-spherical-image{'data-width' => "800", 'data-height' => "575"}
        5th Avenue in New York
        = link_to 'Spherical Image - RICOH THETA', "https://theta360.com/m/X9Y", :target => "_blank"
      <script async src="https://theta360.com/widgets.js" charset="utf-8"></script>
