%section#appfeatures
  .row
    .large-12.columns
      %h2 Legal Notices
      %h6 No Unlawful or Prohibited Use
      %p
        You agree not to use the Site for any purpose that is unlawful or prohibited by these Terms of Use or the rules, guidelines or terms of use posted for a specific area of the Site. You may not access or use the Site in any manner that could damage, disable, overburden, or impair any 360 Showings customers, computer systems or networks. You may not attempt to gain unauthorized access to any parts of the Site or any 360 Showings customer accounts, computer systems or networks. You may not interfere or attempt to interfere with the proper working of the Site or computer systems or networks. You may not use any robot, spider, scraper or other automated means to access the Site or any 360 Showings customer accounts, and computer systems or networks without 360 Showings’s express written permission.
  .row
    .large-12.columns
      %h6 Third Party Web Sites, Content, Products and Services
      %p
        The Site provides links to Web sites and access to Content from third parties, including users, advertisers, affiliates and sponsors of the Site. You agree that 360 Showings is not responsible for the availability of, and Content provided on, third party Web sites. You should refer to the policies posted by other Web sites regarding privacy and other topics before you use them. You agree that 360 Showings is not responsible for third party Content accessible through the Site, including opinions, advice, statements and advertisements, and understand that you bear all risks associated with the use of such Content. If you choose to purchase any products or services from a third party, your relationship is directly with the third party. You agree that 360 Showings is not responsible for: (a) the quality of third party products or services; and (b) fulfilling any of the terms of your agreement with the seller, including delivery of products or services and warranty obligations related to purchased products or services. You agree that 360 Showings is not responsible for any loss or damage of any sort you may incur from dealing with any third party.
  .row
    .large-12.columns
      %h6 No warranties
      %p
        This website is provided “as is” without any representations or warranties, express or implied 360 Showings makes no representations or warranties in relation to this website or the information and materials provided on this website.
      %p
        Without prejudice to the generality of the foregoing paragraph, 360 Showings does not warrant that:
        %ul
          %li - this website will be constantly available, or available at all; or
          %li - the information on this website is complete, true, accurate or non-misleading.
      %p
        Nothing on this website constitutes, or is meant to constitute, advice of any kind. [If you require advice in relation to any [legal, financial or medical] matter you should consult an appropriate professional.
  .row
    .large-12.columns
      %h6 Limitations of liability
      %p 
        360 Showings will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:
        / What does this do?
        / = succeed "&#45;\u{a0}[to" do
        %ul
          %li - the extent that the website is provided free-of-charge, for any direct loss;
          %li - for any indirect, special or consequential loss; or
          %li - for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.
  %hr
  .row
    .large-12.columns    
      %h2
        These limitations of liability apply even if 360 Showings has been expressly advised of the potential loss.
  .row
    .large-12.columns    
      %h6 
        Exceptions
      %p
        in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit 360 Showings ’s liability in respect of any: or personal injury caused by 360 Showings ’s negligence;
      %ul
        %li - fraud or fraudulent misrepresentation on the part of 360 Showings ; or
        %li - matter which it would be illegal or unlawful for 360 Showings  to exclude or limit, or to attempt or purport to exclude or limit, its liability. 
  .row
    .large-12.columns    
      %h6 
        Reasonableness
      %p
        By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable. If you do not think they are reasonable, you must not use this website.
  .row
    .large-12.columns
      %h6 Unenforceable provisions
      %p
        If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.
