%section#appfeatures
  .row
    .large-12.columns
      %h2 Privacy Policy
      %p
        Your privacy is important to us; therefore, we will not sell, rent, or give your name or address to anyone. Throughout the data collection process, all necessary steps are taken to ensure that data is used only according to the purposes that we have clearly stated. You can select the option to not earn points in the dialogue box overlay when transferred to any 360 Showings-enabled hyperlink.
  .row
    .large-12.columns
      %h6 Purposes for which information is collected:
      %p
        All data collected may be used for the purpose of providing links to 360 Showing videos.
      %h6 Information security:
      %p
        We will take all reasonable technical and organizational precautions to prevent the loss, misuse or alteration of your personal information. 360 Showings stores all the personal information you provide on secure servers. Information relating to electronic commercial transactions such as conference registration and the purchase of publications submitted via this website is protected by encryption technology.
     