%footer
.copyright
  .row
    .large-5.columns
      %p © 2014 360 Showings.   All Rights Reserved        
    .large-7.columns
      %ul.inline-list.right
        %li
          = link_to 'Legal Notices', legal_path
        %li
          = link_to 'Privacy Policy', privacy_path
