// How it works
#howDoesItWork {
  background: $green-sea;
  padding: 3rem 2rem 2rem 2rem;
  width: 100%;
  text-align: center;
  background: url(/assets/jungle-hiw.svg) no-repeat center center fixed; 
  background-size: cover; position: relative; background-position-y:-150px!important;
  h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 5rem;
  }
  .ctaButtonContainer {
    background: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: inline-block!important;
    margin-bottom: 4rem;
    p {
      position: absolute;
      margin-top: -2rem;
      text-transform: uppercase;
      font-weight: bold;
      color: darken($green-sea, 20%);
      font-size: 0.75rem;
    }
    a:first-of-type {
      background: $red;
      border-radius: 0.5rem;
      padding: 0.75rem;
      margin-right: 0.5rem;
      display: inline-block;
      color: white;
      &:hover {
        background:darken($red, 20%);
      }
    }
    a:last-of-type {
      color: $darkgrey;
      font-weight: bold;
      &:hover {
        color: $red;
      }
    }
  }
}

@media screen and (min-width: 48.25rem) {
  #howDoesItWork {
    background: $green-sea;
    padding: 3rem 2rem 2rem 2rem;
    text-align: center;
    background: url(/assets/jungle-hiw.svg) no-repeat center center fixed; 
    background-size: cover; 
    position: relative; 
    background-position-y: -150px!important;
    h2 {
      color: white;
      font-size: 3.5rem;
      margin-bottom: 1.5rem;
    }
    .ctaButtonContainer {
      background: white;
      border-radius: 0.5rem;
      padding: 0.75rem;
      margin-right: 2rem;
      display: inline-block;
      p {
        position: absolute;
        margin-top: -2rem;
        text-transform: uppercase;
        font-weight: bold;
        color: darken($green-sea, 20%);
        font-size: 0.75rem;
      }
      a:first-of-type {
        background: $red;
        border-radius: 0.5rem;
        padding: 0.75rem;
        margin-right: 0.5rem;
        display: inline-block;
        color: white;
        &:hover {
          background: darken($red, 20%);
        }
      }
      a:last-of-type {
        color: $darkgrey;
        font-weight: bold;
        &:hover {
          color: $red;
        }
      }
    }
  }
}

#curateInfo {
  padding: 4.5rem 0;
  img {
    margin-top: 2.5rem;
  }
}

#curateFeatures {
  background: #efefef;
  padding: 4.5rem 0;
  .row {
    text-align: center;
    .callout {
      margin-bottom: 4rem;
    }
  }
  .icons {
    p {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.65rem;
      max-width: 60%;
      margin: 0 auto;
      margin-bottom: 4rem;
    }
  }
  @media screen and (min-width: 48.25rem) {
    .icons .large-4 {
      margin: 0;
    }
  }
}

#publishInfo {
  padding: 4.5rem 0;
  img {
    margin-top: 2.5rem;
  }
}

#publishFeatures {
  background: #efefef;
  padding: 4.5rem 0;
  .row {
    text-align: center;
    .callout {
      margin-bottom: 4rem;
    }
  }
  .icons {
    p {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.65rem;
      max-width: 60%;
      margin: 0 auto;
      margin-bottom: 4rem;
    }
  }
  @media screen and (min-width: 48.25rem) {
    .icons .large-4 {
      margin:0;
    }
  }
}

.curate1-circle {
  @include circleContainer; 
  background-position:0% 5%;
  background-size:350%;
  background-image: url(/assets/curate1.png);
}

.curate2-circle {
  @include circleContainer;
  background-position:5% 30%; 
  background-size:250%;
  background-image: url(/assets/curate2.png);
}

.curate3-circle {
  @include circleContainer;
  background-position:20% 0%;
  background-size:550%; 
  background-image: url(/assets/curate3.png);
}

.publish1-circle {
  @include circleContainer; 
  background-position:-6% -15%;
  background-size:195%;
  background-image: url(/assets/publish1.png);
}

.publish2-circle {
  @include circleContainer;
  background-position:45% 30%; 
  background-size:150%;
  background-image: url(/assets/publish2.png);
}

.publish3-circle {
  @include circleContainer;
  background-position:20% 20%;
  background-size:250%; 
  background-image: url(/assets/publish3.png);
}